<div class="notices {{ .Get "type" }}">
  <div class="header">
    {{ if eq  (.Get "type") "note" }}
    🅝 Note
    {{ end }}
    {{ if eq  (.Get "type") "warning" }}
    🅦 Warning
    {{ end }}
    {{ if eq  (.Get "type") "important" }}
    🅘 Important
    {{ end }}
  </div>
  <div class="text">
    {{trim .Inner "\n"}}
  </div>
</div>
