<div class="footer desktop-only">
 Updated: {{ now.Format "January 2, 2006" }}
  &nbsp; | &nbsp;
    &nbsp;
  <a rel="license" href="{{ .Site.Params.licenseURL }}">
    <img class="image" alt="{{ .Site.Params.licenseImageAlt }}"
                     style="vertical-align:-0.2em"
                     src="{{ .Site.Params.licenseImageURL }}" />
  </a>
  &nbsp;
  © {{ now.Format "2006" }}  &nbsp;
  {{ .Site.Copyright }}
  &nbsp; | &nbsp;
  <a rel="source" href="{{ .Site.Params.sourceURL}}">
    Website Repository
  </a>
  &nbsp; | &nbsp;

  <a rel="source" href="/sitemap">
    Sitemap
  </a>


</div>

<div class="footer mobile-only">
  Updated: {{ now.Format "January 2, 2006" }}
  &nbsp; |
  <a rel="license" href="{{ .Site.Params.licenseURL }}">
    <img class="image" alt="{{ .Site.Params.licenseImageAlt }}"
                     style="vertical-align:-0.2em"
                     src="{{ .Site.Params.licenseImageURL }}" />
  </a>
  © {{ now.Format "2006" }}  &nbsp; {{ .Site.Copyright }}
  |
  <a rel="source" href="{{ .Site.Params.sourceURL}}">
    <img class="image" alt="{{ .Site.Params.licenseImageAlt }}"
                     style="vertical-align:-0.2em"
                     src="/img/git-logo.png" />
  </a>

  &nbsp; | &nbsp;

  <a rel="source" href="/sitemap">
    Sitemap
  </a>


</div>
