@media only screen and (max-width: 960px) {
  .desktop-only {
    display: none;
  }
  .print-only {
    display: none;
  }

  html {
    scroll-padding-top: 5em;
  }

  .navbar {
    background-color: #ccd8e8;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    height: 3em;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #dde8f0;
  }

  .navbar li a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #428bca;
  }

  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: #f4f4f4;
    color: #000000;
  }

  .navbar .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    text-align: center;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 0px;
    text-decoration: none;
  }

  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    border-bottom: solid #ccd8e8;
  }

  .navbar .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
  }

  .navbar .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .navbar .menu-icon .nav-icon:before,
  .navbar .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .navbar .menu-icon .nav-icon:before {
    top: 5px;
  }

  .navbar .menu-icon .nav-icon:after {
    top: -5px;
  }

  .navbar .menu-btn {
    display: none;
  }

  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }

  .pagearea {
    min-height: calc(99vh - 7em);
    margin-top: 5em;
  }

  .textarea .page-title {
    margin-bottom: -0.5ex;
    font-size: 3em;
  }

  .textarea{
    padding-top: 5ex;
    margin-left: 1em;
    margin-right: 1em;
    min-height: calc(99vh - 8em);
  }

  .textarea .page-title {
    font-size: 2em;
  }

  .textarea .page-author {
    font-size: 1em;
  }

  .textarea .page-author a{
    color: #ababab;
    font-size: 1em;
  }

  .textarea .page-timestamp{
    color: #ababab;
  }



  .toc {
    position: fixed;
    top: 3em;
    z-index: 3;
  }

  .toc .toccheck {
    display: none;
  }

  .toc .tocbutton {
    font-size: 1em;
    line-height: 1.5em;
    width: 50vw;
    padding-left: 5vw;
    padding-top: 0.5ex;
    border-radius: 00px 00px 10px 10px;
    border-style: solid;
    border-color: white;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    display:block;
    cursor:pointer;
  }

  .toc .tocicon {
    float:right;
    font-size: 1.5em;
    vertical-align: middle;
  }

  .toc .toccheck:checked ~ .tocbutton .tocicon {
    transform: scale(1, -1);
  }

  .toc .toccheck:checked ~ .tocbutton {
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }



  .toc .toc-content{
    display: none;
    text-align: left;
    background: #f0f0f0;
    border-radius: 0 0 0 0vw;
    border-style: solid;
    width: 90vw;
    border-color: white;
    max-height: 33vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .toc .toccheck:checked ~ .toc-content{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: block;
  }

  .footer {
    background-color: #c5c5c5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    z-index: 3;
  }

  #TableOfContents ul {
    padding-left: 1em;
  }

  .footer .image {
    height: 1.2em;
  }
}
